.navbar{
    background-color:#FFFF;
}

.capa{
    background-color:#FF5243;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-items: center;

    padding-top: 2em;
    padding-bottom: 2em;

}
.capa .imagem{
    margin-top: 2em;

}

.capa .titulo{
    width: 33em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


    color: white;
}

.capa .titulo span{
    
    color: white;
    font-weight: 300;
}

.capa .titulo button{
    
    margin-top: 4em;
    color: #FF5243;
    font-weight: 650;
    padding-left: 2em;
    padding-right: 2em;

}

.como-funciona{
    background-color:white;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    
}

.como-funciona .titulo{
        width: 30em;
    
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        margin-left: 10em;

        color:#FF5243;        
}

.como-funciona .titulo p{
    color:#9A9A9A;
    margin-top: 1em;
    text-align: right;
}

.como-funciona .titulo span{
    color:#FF5243;
    font-weight: 500;
    margin-top: 1em;
}

.como-funciona .imagens{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-right: 2em;
}

.como-funciona .imagens #fundo{
    width:35em ;
    margin-top: 5em;
    margin-bottom: 5em;
}

.facil-e-rapido{
    background-color:#FF5243;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 2em;
}  

.facil-e-rapido .imagens #elipse{

    position: absolute;
    margin-top:-13em;
}

.facil-e-rapido .imagens #celular{

    width: 80%;

    margin-left: 2em;
    margin-top: 4rem;
 }

 .facil-e-rapido .titulo{
    width: 35em;
    
    color:white;
    margin-right: 1em;
    margin-top: 1em;
 }

 .facil-e-rapido .titulo span{
    font-weight: 100;
}

.facil-e-rapido .titulo p{
    margin-top: 2em
}

.facil-e-rapido .titulo iframe{
    margin-top: 2em;
    border-radius: 10px;
}

.rodape{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.rodape img{
    width: 200px;
}

@media (max-width:800px){
    .navbar .navbar-nav{
        display: none;
    }

    .navbar .navbar-brand{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .capa{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .capa .imagem{
       display: none
    }

    .capa .titulo{
        padding-top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


        margin-top: 1em;
        margin-bottom: 1em;
     }

     .como-funciona{   
        flex-direction: column;
        justify-content: center;       
    }

    .como-funciona .titulo{
        width: fit-content;
        margin-top: 2em;
        padding-top: 2em;
        margin-left: 0;
        align-items: center;
        text-align: center;   

        padding-left: 1em;
        padding-right: 1em;
    
    }

    .como-funciona .titulo p{
        margin-top: 2em;
        align-items: center;
        text-align: center;
    }
    
    .como-funciona .titulo span{
        align-items: center;
    }
    
    .como-funciona .imagens{
        margin: 0;
    }

    .como-funciona .imagens #fundo{
        width:250px ;
        margin-top: 3em;
        margin-bottom: 5em;
    }

    .como-funciona .imagens #fundo img{
        width:fit-content ;
        margin-top: 3em;
        margin-bottom: 5em;
    }

    .facil-e-rapido{
        flex-direction: column;
        justify-content: center;
    }  
    
    .facil-e-rapido .imagens #celular{
        display: none;    
     }
    
     .facil-e-rapido .titulo{
        align-items: center;
        text-align: center;
        padding-top: 2em;
     }

     .facil-e-rapido .titulo h1{
        font-size:x-large;
    }
   
    .facil-e-rapido .titulo p{
        display: none;
    }

     .facil-e-rapido .titulo iframe{
        width: fit-content;
    }

    .rodape{
        display: flex;
    }

}